*{
  text-decoration: none;
  padding:0;
}
body{
  font-family: 'Voces';
  width:auto;
  padding:0;
  margin:0;
}

/*Meet the team*/
.split{
  height:100%;
  width:50%;
  position:fixed;
  z-index:1;
  top:0;
  overflow-x:hidden;
  padding-top:20px;
}

.left{
  left:0;
  background-color: ivory;
}

.right{
  right:0;
  background-color: #52eead;
}

.centered{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img{
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 1px 3px 1px black;
}

.centered a{
  color:black;
}

/*End of Meet The Team*/

/*Help*/

span{
  color:#55eead;
}
.btn{
  font-weight: bold;
   color:black;
  padding:8px 12px 8px 12px;
  border: 2px solid #52eead;
  border-radius:10px;
  background:transparent;
}

.btn:hover{
  font-weight: bold;
  padding:8px 12px 8px 12px;
  border: 2px solid #52eead;
  border-radius:10px;
  background-color:#52eead;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.c{
padding-top:40px;
}
div.t{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.c{
margin-left:320px;
padding:50px 50px 50px 50px;
}
/*End of Help*/
/*Flip Cards

.flip-card{
  background-color: transparent;
  border:1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner{
  text-align:center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}


End of Flip Cards*/
