*{
margin:0px;
text-decoration:none;
color:black;
}
body{
font-family:Voces;
background-color:#FFFACD;
}

.sidenav{
  text-align:left;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #52eead;
  overflow-x: hidden;
  padding-top: 100px;
  border-right:1px solid black;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  background-color: ivory;
}
.b{
text-align:center;
}
.logo{
padding-left:60px;
border-radius:50%;
}

.first{
margin-left:500px;
margin-top:40px;
}
.firstone{
margin-left:680px;
padding:5px 5px;
text-align:center;
width:250px;
color:black;
border-radius:10px;
font-weight:bold;
border:1px solid #52eead;
}
.firstone:hover{
background-color:#52eead;
}
